<% if @tickets.length > 0 %>
	<div class="row">
		<div class="col offset-lg-3 col-lg-6">
			<h1>Here is what is on your plate</h1>
		</div>
	</div>
	<% @tickets.each do |ticket| %>
	  <div class="row">
	    <div class="col offset-lg-2 col-lg-8 card ticket">
	    	<h2 class="card-title"><%= link_to ticket.task, controller: "tickets", action: "show", id: ticket.id %></h2>
	    	<div class="card-body">
		      <p class="card-text">
		        <%= ticket.description %>
		      </p>
		    </div>
	    </div>
	  </div>
	<% end %>
<% else %>
	<h1>There is nothing on your plate</h1>
	<%= link_to "Add something",{:controller => "tickets", :action => "new"}, { class: "btn btn-link", role: "button"} %>
<% end %>