<% if @projects.length > 0 %>
	<div class="row">
		<div class="col offset-lg-3 col-lg-6">
			<h1>All active projects</h1>
		</div>
	</div>
	<div class="row">
		<% @projects.each do |project| %>
		  
		    <div class="col col-lg-3 card project">
		    	<h2 class="card-title"><%= link_to project.name, controller: "projects", action: "show", id: project.id %></h2>
		    	<div class="card-body">
			      <p class="card-text">
			        <%= project.description %>
			      </p>
			    </div>
		    </div>
		<% end %>

	</div>
<% else %>
	<h1>There are no projects</h1>
	<%= link_to "Add something",{:controller => "projects", :action => "new"}, { class: "btn btn-link", role: "button"} %>
<% end %>