// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ticket-list {
	padding: 10px;
}
.ticket-item {
	marging-left: 10px;
	font-weight: bold;
}